/**
 * Reset
 */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,
table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5fae\8f6f\96c5\9ed1,sans-serif;color:#333;outline:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
i,cite,em,var,address,dfn{font-style:normal;}
table{border-collapse:collapse;border-spacin:0;}
caption,th{text-align:left;font-weight:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{background-color:#fff;}
/**
 * Reset for mobile
 */
/*去掉a、input和button点击时的蓝色外边框和灰色半透明背景*/
a,button,input,optgroup,select,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
/*禁止长按链接与图片弹出菜单*/
a,img{-webkit-touch-callout:none;}
/*流畅滚动*/
body{-webkit-overflow-scrolling:touch;}

/**
 * Function
 */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:' ';}
.f-cb,.f-cbli li{*zoom:1;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-dn{display:none;}
.f-dib{display:inline-block;*display:block;*zoom:1;}
.f-db{display:block;}
.f-ovh{overflow:hidden;}
.f-ff0{font-family:arial,\5b8b\4f53;}
.f-ff1{font-family:arial,\5fae\8f6f\96c5\9ed1;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.f-taj{text-align:justify;text-justify:inter-ideograph;}
.f-vam,.f-vama *{vertical-align:middle;}
.f-wsn{word-wrap:normal;white-space:nowrap;}
.f-pre{overflow:hidden;text-align:left;white-space:pre-wrap;word-wrap:break-word;word-break:break-all;}
.f-wwb{white-space:normal;word-wrap:break-word;word-break:break-all;}
.f-ti1{overflow:hidden;text-indent:-10000px;}
.f-ti2{text-indent:2em;}
.f-lhn{line-height:normal;}
.f-tdu,.f-tdu:hover{text-decoration:underline;}
.f-tdn,.f-tdn:hover{text-decoration:none;}
.f-toe{overflow:hidden;word-wrap:normal;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.f-csp{cursor:pointer;}
.f-csd{cursor:default;}
.f-csh{cursor:help;}
.f-csm{cursor:move;}
.f-center{position:absolute;top:50%:left:50%;
    -webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.f-center-h{position:absolute;left:50%;}

/**
 * Status
 */
.z-show{display:block;}
.z-show-ib{display:inline-block;*display:block;*zoom:1;}
.z-hide{display:none;}
.z-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}

/**
 * Animation
 */
/* 淡入 */
.a-fadein{-webkit-animation-name:fadein;-o-animation-name:fadein;animation-name:fadein;}
@-webkit-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@-o-keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
@keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}
/* 淡出 */
.a-fadeout{-webkit-animation-name:fadeout;-o-animation-name:fadeout;animation-name:fadeout;}
@-webkit-keyframes fadeout{
    0%{opacity:1;}
    100%{opacity:0;}
}
@-o-keyframes fadeout{
    0%{opacity:1;}
    100%{opacity:0;}
}
@keyframes fadeout{
    0%{opacity:1;}
    100%{opacity:0;}
}

/**
 * Other
 */
.b-10,.b-15,.b-20,.b-30,.b-40{display:block;height:10px;clear:both;overflow:hidden;}
.b-15{height:15px;}
.b-20{height:20px;}
.b-30{height:30px;}
.b-40{height:40px;}