body{width:7.5rem;height:100%;font-size:16px;background-color:#fafafa;}
/* @media screen and (max-width:480px){
    body{font-size:16px;}
} */
@media screen and (min-width:481px) and (max-width:640px) {
    body{font-size:18px;}
}
@media screen and (min-width:641px) {
    body{font-size:20px;}
}

/**
 * 布局
 */
.g-doc,.g-wrap0,.g-wrap1,.m-pg,.m-tt{box-sizing:border-box;}
.g-doc{position:relative;top:0;left:0;width:100%;height:100%;
    padding:.08rem;border:.04rem solid #000;}
.wrap{width:100%;height:100%;}
.g-wrap0{position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);}
.g-wrap1{height:100%;margin:0 auto;padding:.8rem;}

/**
 * 图标、图片
 */
.u-music{position:absolute;top:.1rem;right:.1rem;width:.47rem;height:.47rem;}
.u-arrow{position:absolute;bottom:.2rem;left:50%;-webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);-ms-transform:translateX(-50%);
    transform:translateX(-50%);width:.6rem;height:.36rem;}
.u-photo{width:100%;border-radius:inherit;}
.u-qr{width:90%;}
/* font */
@font-face{font-family:"iconfont";
    src:url("../font/iconfont.eot");
    src:url("../font/iconfont.eot?#iefix") format("embedded-opentype"),
        url("../font/iconfont.woff") format("embedded-opentype"),
        url("../font/iconfont.ttf") format("truetype"),
        url("../font/iconfont.svg#iconfont") format("svg");
}
.myfont{font-family:"iconfont"!important;font-size:1em;font-style:normal;-webkit-font-smoothing:antialiased;-webkit-text-stroke-width:.002rem;-moz-osx-font-smoothing:grayscale;}

/**
 * 功能
 */
.f-flex{display:-webkit-box;display:-moz-box;display:-webkit-flex;
    display:-ms-flexbox;display:flex;}
.f-flex-basic{-webkit-box-lines:multiple;-moz-box-lines:multiple;-webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
.f-flex-center{-webkit-box-orient:vertical;-moz-box-orient:vertical;
    -webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;
    -webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;
    justify-content:center;}
.f-flex-around{-webkit-box-pack:justify;-ms-flex-pack:justify;
    -webkit-justify-content:space-around;justify-content:space-around;}

/**
 * 模块
 */
.m-pg{display:none;width:100%;height:100%;border:.02rem solid #000;text-align:center;}
.m-pg a,.m-pg a:hover{color:#000;text-decoration:none;}
.m-tt{margin:0 auto;border:.04rem solid #000;border-radius:50% 50%;line-height:2;}
.m-tt .split{width:80%;margin:0 auto;border-color:#000;}
.m-tt .en{font-size:.5em;font-weight:normal;}
/* 封面page */
.m-pg-0{font-size:2em;font-weight:bold;}
.m-tt-0{width:4.5rem;height:4.5rem;}
.m-pg-0 .target{margin-top:.8rem;border-top:.04rem solid #000;border-bottom:.04rem solid #000;line-height:2;}
/* 内容page */
.m-pg-1,.m-pg-2,.m-pg-3,.m-pg-4,.m-pg-5,.m-pg-6{font-size:1.3em;}
.m-tt-1,.m-tt-2{width:3rem;height:3rem;}
.m-tt-1{padding:.01rem;overflow:hidden;}
.m-cnt{margin-top:1rem;font-size:.8em;text-align:left;}
.m-cnt .stt{font-weight:bold;}
.m-cnt-0{margin-left:auto;margin-right:auto;}
.m-cnt-0 tr{height:.8rem;line-height:.9rem;}
.m-cnt-1 .stt{padding:.4rem 0;}
.m-cnt-1 .stt:first-child{padding-top:0;}
.m-cnt-1 dd{color:#878686;}
.m-cnt-hobby{width:100%;text-align:center;color:#878686;}
.m-cnt-hobby .myfont{display:block;width:1.5rem;height:1.5rem;line-height:1.5rem;
    border:.02rem solid #878686;border-radius:.05rem;font-size:3em;}
.m-cnt-2{width:70%;margin-left:auto;margin-right:auto;}
.m-cnt-2 li{padding-bottom:.3rem;list-style-type:disc;}
/* 感谢page */
.m-pg-7{font-size:1.3em;}
.m-qrbox{margin-top:.5rem;line-height:1.5;}
